.form-section__wrapper {
  width: 270px;
  margin: 0 auto;
  padding: 15px;
  background-color: $background-color-additional;
  color: $text-color-additional-light;
  border-radius: 16px;
}

.form-section__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  color: $text-color-secondary;
}

.form-section__text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.form-section__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section__button {
  justify-content: center;
}
