.modal {
  display: block;
  position: fixed;
  z-index: 2;
  top: 23px;
  left: 0;
  width: 100vw;

  @media (min-width: $tablet-width) {
    top: 204px;
  }

  @media (min-width: $desktop-width) {
    top: 90px;
  }
}

.modal__wrapper {
  width: $mobile-actual-width;
  margin: 0 auto;
  padding: 36px 15px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: $background-color-secondary;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 510px;
    padding: 60px 80px;
  }
}

.modal__close-button {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $icon-color-primary;
    top: 0;
    right: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    background-color: $icon-color-primary;
    mask-image: url("/__spritemap#sprite-cross-view");
  }

  @media (min-width: $tablet-width) {
    width: 42px;
    height: 42px;
    top: 20px;
    right: 20px;

    &::before {
      width: 42px;
      height: 42px;
    }

    &::after {
      width: 22px;
      height: 22px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      content: "";
    }

    &::after {
      background-color: $icon-color-light;
    }
  }

  &:active {
    &::before {
      content: "";
      background-color: $active-color;
    }

    &::after {
      background-color: $icon-color-light;
    }
  }
}

.modal__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: $text-color-additional;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 220px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.modal__form-button {
  justify-content: center;
  min-height: 42px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    width: 194px;
    min-height: 54px;
    margin: 0 auto;
  }
}
