.programs-slider {
  overflow: hidden;
  width: $mobile-actual-width;
  height: 400px;

  @media (min-width: $tablet-width) {
    width: 723px;
    height: 420px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-actual-width;
  }
}

.programs-slider__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
