.select__input-label {
  font-size: 12px;
  line-height: 14px;
  color: $text-color-additional-light;
  opacity: 0.8;
  display: inline-block;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  &--main-form {
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 9px;
    }
  }
}

.select--modal .select__input-label {
  color: $text-color-primary;
  font-size: 14px;
}

.select__list {
  position: relative;
}

.select[data-state="active"] {
  .select__title::after {
    transform: rotate(180deg);
  }

  .select__content {
    display: flex;
  }

  .select__input-label {
    opacity: 1;
  }
}

.select[data-state="active"] .select__title {
  border: 1px solid $form-color-light;
}

.select--modal[data-state="active"] .select__title {
  border: 1px solid $form-color-dark;
}

.select__title {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 52px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 14px;
    display: block;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease-out;
    background-color: $form-color-light;
    mask-image: url("/__spritemap#sprite-arrow-down-view");
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;

    &::after {
      right: 19px;
    }
  }
}

.select--modal .select__title {
  min-height: 44px;
  border: 1px solid rgba(72, 72, 72, 0.3);

  &::after {
    background-color: $form-color-dark;
  }

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }
}

.select:hover .select__title {
  border: 1px solid $form-color-light;
}

.select--modal:hover .select__title {
  border: 1px solid $form-color-dark;
}

.select:hover .select__input-label {
  opacity: 1;
}

.select:has(.select__title:focus-visible) .select__input-label {
  opacity: 1;
}

.select:has(.select__title:focus-visible) .select__title {
  border: 1px solid $form-color-light;
  outline: none;
}

.select--modal:has(.select__title:focus-visible) .select__title {
  border: 1px solid $form-color-dark;
}

.select__content {
  position: absolute;
  top: 56px;
  left: 0;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: $background-color-secondary;
  border: 1px solid $form-color-light;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  z-index: 5;
  display: none;

  @media (min-width: $tablet-width) {
    top: 54px;
  }
}

.select--modal .select__content {
  border: 1px solid $form-color-dark;
  top: 48px;
}

.select__label {
  font-size: 14px;
  line-height: 14px;
  color: $text-color-primary;
  padding: 17px 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: $text-color-additional;
  }

  &:focus,
  &:active {
    outline: none;
    color: $text-color-secondary;
    background-color: $background-color-additional;
  }
}

.select__label:first-of-type {
  border-radius: 8px 8px 0 0;
}

.select__label:last-of-type {
  border-radius: 0 0 8px 8px;
}
