.slider-link {
  width: 30px;
  position: relative;
  border: none;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    margin-top: -15px;
    right: 18px;
    background-color: $button-color-primary;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    right: 28px;
    mask-repeat: no-repeat;
    mask-image: url("/__spritemap#sprite-arrow-view");
    background-color: $icon-color-light;
  }

  &:hover {
    &::before {
      background-color: $button-color-light;
    }

    &::after {
      background-color: $icon-color-primary;
      transform: rotate(45deg);
    }
  }

  &:focus {
    &::after {
      transform: rotate(45deg);
    }
  }

  &:active {
    &::before {
      background-color: $button-color-light;
    }

    &::after {
      background-color: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg);
    }
  }
}

.slider-link[aria-disabled='true'] {
  pointer-events: none;
  cursor: auto;

  &::before {
    background-color: $disabled-color;
  }

  &::after {
    background-color: $icon-color-light;
    opacity: 0.6;
    transform: none;
  }
}
