$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-actual-width: 290px;
$mobile-padding: 15px;
$tablet-actual-width: 678px;
$tablet-padding: 45px;
$desktop-actual-width: 1240px;
$desktop-padding: 100px;

$text-color-primary: #484848;
$text-color-secondary: #ffffff;
$text-color-additional: #316dc2;
$text-color-additional-light: #f0efe9;
$background-color-primary: #f0efe9;
$background-color-secondary: #ffffff;
$background-color-additional: #316dc2;
$button-color-primary: #316dc2;
$button-color-light: #ffffff;
$icon-color-primary: #316dc2;
$icon-color-light: #ffffff;
$form-color-light: #ffffff;
$form-color-dark: #484848;
$form-color-error: #ff5e66;
$active-color: #275699;
$disabled-color: #a9afb7;
